In [1]:
# Import dependencies.
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_Data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pisco,PE,2021-12-21 13:20:08,-13.7000,-76.2167,69.03,88,75,1.14
1,1,Chuy,UY,2021-12-21 13:20:08,-33.6971,-53.4616,71.15,74,100,4.03
2,2,Punta Arenas,CL,2021-12-21 13:19:07,-53.1500,-70.9167,57.31,58,75,37.98
3,3,Arraial Do Cabo,BR,2021-12-21 13:20:08,-22.9661,-42.0278,80.56,69,20,14.97
4,4,Coquimbo,CL,2021-12-21 13:20:09,-29.9533,-71.3436,64.13,77,75,5.75
...,...,...,...,...,...,...,...,...,...,...
558,558,Albanel,CA,2021-12-21 14:37:49,48.8832,-72.4487,10.54,66,94,11.50
559,559,Kemijarvi,FI,2021-12-21 14:37:49,66.7131,27.4306,5.47,98,70,4.43
560,560,Vila Do Maio,CV,2021-12-21 14:37:50,15.1333,-23.2167,77.79,73,100,14.74
561,561,Debica,PL,2021-12-21 14:37:50,50.0515,21.4114,27.72,81,23,2.86
562,562,Mehtar Lam,AF,2021-12-21 14:37:50,34.6714,70.2094,53.22,27,100,1.45

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the max temps. (This is similar to line 12 in the next cell)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Cloudiness.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Wind Speed.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask customer to add min and max temp values.
min_temp = float(input("What is the minimum temperature you would like for your trip?: "))
max_temp = float(input("What is the maximum temperature you would like for your trip?: "))

What is the minimum temperature you would like for your trip?: 75
What is the maximum temperature you would like for your trip?: 90

In [21]:
# Filter dataet to find cities that fit criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Arraial Do Cabo,BR,2021-12-21 13:20:08,-22.9661,-42.0278,80.56,69,20,14.97
9,9,Port Alfred,ZA,2021-12-21 13:20:10,-33.5906,26.8910,76.66,74,95,24.79
12,12,Sao Filipe,CV,2021-12-21 13:20:11,14.8961,-24.4956,75.58,74,100,8.61
13,13,Puerto Del Rosario,ES,2021-12-21 13:20:12,28.5004,-13.8627,76.75,44,20,14.97
15,15,Santa Fe,AR,2021-12-21 13:19:13,-31.6333,-60.7000,88.75,49,63,3.00

In [30]:
preferred_cities_df.count()

City_ID       188
City          188
Country       187
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [37]:
# Dropped na data in preferred_cities_df
clean_preferred_cities_df = preferred_cities_df.dropna()

In [39]:
# Create hotel dataframe to store hotel names along with city, country, max temp, lat, and lng.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat      Lng Hotel Name
3      Arraial Do Cabo      BR     80.56 -22.9661 -42.0278
9          Port Alfred      ZA     76.66 -33.5906  26.8910
12          Sao Filipe      CV     75.58  14.8961 -24.4956
13  Puerto Del Rosario      ES     76.75  28.5004 -13.8627
15            Santa Fe      AR     88.75 -31.6333 -60.7000
16                Adre      TD     84.18  13.4667  22.2000
21              Namibe      AO     78.08 -15.1961  12.1522
24          Hambantota      LK     79.38   6.1241  81.1185
26           Caravelas      BR     79.74 -17.7125 -39.2481
27           Hithadhoo      MV     82.49  -0.6000  73.0833

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [56]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the lats and longs.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add lats and longs to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our lats and longs.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [57]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,80.56,-22.9661,-42.0278,Pousada Porto Praia
9,Port Alfred,ZA,76.66,-33.5906,26.8910,The Halyards Hotel
12,Sao Filipe,CV,75.58,14.8961,-24.4956,Hotel Xaguate
13,Puerto Del Rosario,ES,76.75,28.5004,-13.8627,Hotel JM Puerto del Rosario
15,Santa Fe,AR,88.75,-31.6333,-60.7000,Conquistador Hotel
16,Adre,TD,84.18,13.4667,22.2000,
21,Namibe,AO,78.08,-15.1961,12.1522,Hotel Chik Chik Namibe
24,Hambantota,LK,79.38,6.1241,81.1185,Bungalow 63
26,Caravelas,BR,79.74,-17.7125,-39.2481,Pousada dos Navegantes
27,Hithadhoo,MV,82.49,-0.6000,73.0833,Scoop Guest House

In [65]:
# Add a heatmap of temperature for teh vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [69]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [71]:
# Add a heatmap of temperature for teh vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))