In [1]:
# Import dependencies.
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

import numpy as np

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_Data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2021-12-22 17:38:51,-22.9661,-42.0278,91.36,62,0,13.80
1,1,Ushuaia,AR,2021-12-22 17:36:34,-54.8000,-68.3000,55.02,50,0,17.27
2,2,Afua,BR,2021-12-22 17:38:52,-0.1567,-50.3867,84.24,74,86,7.94
3,3,Port Alfred,ZA,2021-12-22 17:38:52,-33.5906,26.8910,69.62,90,94,9.80
4,4,Kayes,ML,2021-12-22 17:38:52,14.0000,-11.0000,89.06,10,83,10.58
...,...,...,...,...,...,...,...,...,...,...
571,571,Narwana,IN,2021-12-22 17:54:17,29.6167,76.1167,56.91,26,100,4.74
572,572,Pampierstad,ZA,2021-12-22 17:54:17,-27.7832,24.6877,69.91,61,53,2.04
573,573,Ekibastuz,KZ,2021-12-22 17:54:18,51.6667,75.3667,33.06,83,100,14.97
574,574,Jardim,BR,2021-12-22 17:54:18,-21.4803,-56.1381,99.28,26,49,6.60
575,575,Ilinskiy,RU,2021-12-22 17:54:18,55.6190,38.1182,-6.70,77,75,4.47

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the max temps. (This is similar to line 12 in the next cell)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Cloudiness.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Wind Speed.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask customer to add min and max temp values.
min_temp = float(input("What is the minimum temperature you would like for your trip?: "))
max_temp = float(input("What is the maximum temperature you would like for your trip?: "))

What is the minimum temperature you would like for your trip?: 75
What is the maximum temperature you would like for your trip?: 90

In [11]:
# Filter dataet to find cities that fit criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Afua,BR,2021-12-22 17:38:52,-0.1567,-50.3867,84.24,74,86,7.94
4,4,Kayes,ML,2021-12-22 17:38:52,14.0000,-11.0000,89.06,10,83,10.58
7,7,Caucaia,BR,2021-12-22 17:38:53,-3.7361,-38.6531,87.75,73,75,18.41
8,8,La Asuncion,VE,2021-12-22 17:38:54,11.0333,-63.8628,83.93,79,57,18.41
9,9,Cabedelo,BR,2021-12-22 17:38:54,-6.9811,-34.8339,86.67,70,58,13.11

In [12]:
preferred_cities_df.count()

City_ID       188
City          188
Country       186
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [13]:
# Dropped na data in preferred_cities_df
clean_preferred_cities_df = preferred_cities_df.dropna()

In [14]:
# Create hotel dataframe to store hotel names along with city, country, max temp, lat, and lng.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp      Lat      Lng Hotel Name
2                      Afua      BR     84.24  -0.1567 -50.3867
4                     Kayes      ML     89.06  14.0000 -11.0000
7                   Caucaia      BR     87.75  -3.7361 -38.6531
8               La Asuncion      VE     83.93  11.0333 -63.8628
9                  Cabedelo      BR     86.67  -6.9811 -34.8339
15                    Sumbe      AO     76.95 -11.2061  13.8437
25  San Carlos De Bariloche      AR     83.95 -41.1456 -71.3082
26           Cap Malheureux      MU     79.47 -19.9842  57.6142
32                    Ancud      CL     82.22 -41.8697 -73.8203
37                  Yenagoa      NG     83.21   4.9247   6.2642

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the lats and longs.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add lats and longs to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our lats and longs.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Afua,BR,84.24,-0.1567,-50.3867,Hotel Dias
4,Kayes,ML,89.06,14.0000,-11.0000,
7,Caucaia,BR,87.75,-3.7361,-38.6531,M.O.S. Logística - Filial Fortaleza
8,La Asuncion,VE,83.93,11.0333,-63.8628,Colinas de Matasiete
9,Cabedelo,BR,86.67,-6.9811,-34.8339,Hotel Pigalle
15,Sumbe,AO,76.95,-11.2061,13.8437,Hotel Ritz Sumbe
25,San Carlos De Bariloche,AR,83.95,-41.1456,-71.3082,Hotel Patagonia
26,Cap Malheureux,MU,79.47,-19.9842,57.6142,Pereybere Hotel & Spa
32,Ancud,CL,82.22,-41.8697,-73.8203,Hotel Arena Gruesa
37,Yenagoa,NG,83.21,4.9247,6.2642,Aridolf Resort Wellness and Spa

In [18]:
# Counting null
hotel_df.isnull().sum()

#Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace("", np.nan, regex=True)
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [19]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Afua,BR,84.24,-0.1567,-50.3867,Hotel Dias
7,Caucaia,BR,87.75,-3.7361,-38.6531,M.O.S. Logística - Filial Fortaleza
8,La Asuncion,VE,83.93,11.0333,-63.8628,Colinas de Matasiete
9,Cabedelo,BR,86.67,-6.9811,-34.8339,Hotel Pigalle
15,Sumbe,AO,76.95,-11.2061,13.8437,Hotel Ritz Sumbe
25,San Carlos De Bariloche,AR,83.95,-41.1456,-71.3082,Hotel Patagonia
26,Cap Malheureux,MU,79.47,-19.9842,57.6142,Pereybere Hotel & Spa
32,Ancud,CL,82.22,-41.8697,-73.8203,Hotel Arena Gruesa
37,Yenagoa,NG,83.21,4.9247,6.2642,Aridolf Resort Wellness and Spa
42,Cayenne,GF,77.04,4.9333,-52.3333,Hôtel Le Dronmi

In [20]:
# Add a heatmap of temperature for teh vacation spots.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for teh vacation spots.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))